/* disable these when you're done */
/* .ui-grid-container-one {
  background-image: url("/images/grid-1.png");
} */
/* .ui-grid-container-two {
  background-image: url("/images/grid-2.png");
} */
/* .ui-grid-container-three {
  background-image: url("/images/grid-3.png");
} */
/* your CSS goes here */

/* FIRST GRID */
.ui-grid-container-one {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

.blue {
  background-color: #6495ed;
}
/* SECOND GRID */
.ui-grid-container-two {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

.pink {
  background-color: #ed64a4;
}

/* THIRD GRID */
.ui-grid-container-three {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 400px 1fr;
  position: relative;
}

.title {
  font-size: 5em;
  font-weight: bold;
  position: absolute;
  right: 282px;
  top: 420px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #d0166d;
  text-shadow: 2px 2px 0px #fff;
}
